.collapse:not(.collapse_show) {
   display: none;
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background: $romance;
   font-family: $fontDrugs;
   color: $black;
}
.main {
   flex: 1;
   padding-top: calc(var(--header) + 40px);
   @media (max-width: $tablet) {
      padding-top: calc(var(--header) + 20px);
   }
   @media (max-width: $mobile) {
      padding-top: calc(var(--header) + 16px);
   }
}
.container {
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 var(--container);
}
.circle {
   --size: 32px;
   flex: 0 0 var(--size);
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

label {
   cursor: pointer;
}

.h1 {
   @include h1;
   @media (max-width: $tablet) {
      @include h1-tablet;
   }
   @media (max-width: $mobile) {
      @include h1-mobile;
   }
}
.h2 {
   @include h2;
   @media (max-width: $tablet) {
      @include h2-tablet;
   }
   @media (max-width: $mobile) {
      @include h2-mobile;
   }
}
.h3 {
   @include h3;
   @media (max-width: $tablet) {
      @include h3-tablet;
   }
   @media (max-width: $mobile) {
      @include h3-mobile;
   }
}
.h4 {
   @include h4;
   @media (max-width: $tablet) {
      @include h4-tablet;
   }
   @media (max-width: $mobile) {
      @include h4-mobile;
   }
}
.h5 {
   @include h5;
}
.h6 {
   @include h6;
}

.slider-btn {
   --size: 54px;
   background: $grey-light;
   transition: $transition;
   &.swiper-button-disabled {
      opacity: 0;
   }
   &.transparent {
      background: transparent;
      border: 1px solid $grey-dark;
      svg path {
         stroke: white;
      }
   }
   svg {
      width: 16px;
      height: 16px;
   }
   &::after {
      display: none;
   }
}

.pc {
   @media (max-width: $tablet) {
      display: none;
   }
}
.tablet {
   display: none;
   @media (max-width: $tablet) {
      display: block;
   }
   @media (max-width: $mobile) {
      display: none;
   }
}
.mobile {
   display: none;
   @media (max-width: $tablet) {
      display: none;
   }
   @media (max-width: $mobile) {
      display: block;
   }
}
.tablet-mobile {
   display: none;
   @media (max-width: $tablet) {
      display: block;
   }
}
.app-checkbox {
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 10px;
   color: $black;
   input {
      display: none;
   }
   div {
      width: 19px;
      height: 19px;
      flex: 0 0 19px;
      border-radius: 3px;
      border: 1px solid $grey-dark;
      position: relative;

      transition: $transition;
      svg {
         position: absolute;
         top: 50%;
         left: 50%;
         translate: -50% -50%;
         opacity: 0;
         width: 20px;
         height: 20px;
         transition: $transition;
         path {
            stroke: white;
         }
      }
   }
   &:has(input:checked) {
      div {
         background-color: $black;
         border-color: $black;
      }
      svg {
         opacity: 1;
      }
   }
}
.app-radio {
   display: flex;
   align-items: center;
   gap: 8px;
   input {
      display: none;
   }
   & > .circle {
      --size: 16px;
      border: 1px solid $grey-dark;
      transition: $transition;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      .circle {
         transition: $transition;
         --size: 10px;
         background-color: $black;
         opacity: 0;
      }
   }
   &:has(input:checked) {
      & > .circle {
         border-color: $black;
         .circle {
            opacity: 1;
         }
      }
   }
}
.app-select {
   position: relative;
   z-index: 2;
   // .catalog-select__wrapper
   &.open {
      .select {
         &__wrapper {
            background-color: white;
            border-color: $grey-dark;
         }
         &__content {
            opacity: 1;
            pointer-events: all;
         }
         &__back {
            pointer-events: all;
            opacity: 1;
         }
      }
   }
   .select {
      width: 100%;
      &__wrapper {
         // width: 100%;
         width: fit-content;
      }
      &__back {
         position: fixed;
         top: 0;
         left: 0;
         width: 100vw;
         height: 100dvh;
         opacity: 0;
         pointer-events: none;
      }
      &__title {
         // width: 100%;
         width: fit-content;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: space-between;
         height: 16px;
         gap: 8px;
         transition: $transition;

         svg path {
            stroke: $black;
         }
      }

      // .catalog-select__content

      &__content {
         width: 168px;
         opacity: 0;
         pointer-events: none;
         transition: $transition;
         border-radius: 5px;
         background: var(--white, #fff);

         /* drop down */
         box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.03);
         position: absolute;
         top: 29px;
         left: 0;
         padding: 24px 20px;
         display: flex;
         flex-direction: column;
         gap: 16px;
         & > button {
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 100px;
            border: 1px solid $grey-dark;
            @include body-6;
         }
      }

      // .catalog-select__list

      &__list {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
      &__item {
         cursor: pointer;
         @include body-7;
         color: $black;
         transition: $transition;
         &.selected {
            color: $grey-dark;
         }
      }
   }
}
.app-tabs {
   display: flex;
   gap: 60px;
   margin-left: calc(-1 * var(--containerFull));
   margin-right: calc(-1 * var(--containerFull));
   padding-left: calc(1 * var(--containerFull));
   padding-right: calc(1 * var(--containerFull));
   position: relative;
   column-gap: 60px;
   row-gap: 16px;
   flex-wrap: wrap;
   @media (max-width: $tablet) {
      column-gap: 24px;
   }
   &::after {
      content: "";
      display: block;
      background: #d4d4d4;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
   }
   input {
      display: none;
   }
   label {
      @include h6;
      text-transform: uppercase;
      color: $grey-dark;
      transition: $transition;
      padding-bottom: 16px;
      display: flex;
      position: relative;
      z-index: 2;
      &::after {
         opacity: 0;
         content: "";
         position: absolute;
         bottom: 0;
         left: -12px;
         width: calc(100% + 24px);
         height: 1px;
         background-color: $black;
         transition: $transition;
         @media (max-width: $tablet) {
            display: none;
         }
      }
      &:has(input:checked) {
         color: $black;
         &::after {
            opacity: 1;
         }
      }
      @media (max-width: $tablet) {
         @include h5-tablet;
      }
      @media (max-width: $mobile) {
         @include h6-mobile;
      }
   }
}
.app-input {
   width: 100%;
   position: relative;
   display: block;
   &.error {
      input {
         border-color: #eb001b;
      }
      p {
         display: block;
         color: #eb001b;
         @include body-small;
         margin-top: 8px;
      }
   }
   span {
      position: absolute;
      @include body-7;
      color: $grey-dark;
      top: 25px;
      left: 16px;
      translate: 0 -50%;
      pointer-events: none;
      background: #fbf8ef;
      padding: 0 8px;
      transition: $transition;
   }
   input,
   textarea {
      background-color: transparent;
      width: 100%;
      height: 50px;
      padding-left: 16px;
      border-radius: 5px;
      border: 1px solid var(--grey, #d4d4d4);
      @include body-7;
      color: $black;
      font-size: 16px;
      transition: $transition;
   }
   textarea {
      height: 160px;
      padding-top: 10px;
   }
   button {
      position: absolute;
      top: 25px;
      right: 10px;
      translate: 0 -50%;
      transition: $transition;
      opacity: 0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
   }
   p {
      display: none;
   }
   &.filled,
   &:has(input:focus),
   &:has(textarea:focus) {
      span {
         top: 0;
      }
   }
   &.filled {
      button {
         opacity: 1;
         pointer-events: all;
      }
   }
}
.hover-btn {
   transition: 0.3s;
   @media (hover: hover) {
      &:hover {
         background-color: #0f6062;
         border-color: #0f6062 !important;
         color: white !important;
         svg path {
            stroke: white !important;
         }
      }
   }
   &:active {
      background-color: #0f6062;
      border-color: #0f6062 !important;
      color: white !important;
      svg path {
         stroke: white !important;
      }
   }
}
.hover-btn-circle {
   .circle {
      transition: 0.3s;
   }
   @media (hover: hover) {
      &:hover {
         .circle {
            background-color: #0f6062;
            border-color: #0f6062 !important;
            svg path {
               stroke: white !important;
            }
         }
      }
   }
   &:active {
      .circle {
         background-color: #0f6062;
         border-color: #0f6062 !important;
         svg path {
            stroke: white !important;
         }
      }
   }
}
.hover-btn-circle-is {
   transition: 0.3s;

   @media (hover: hover) {
      &:hover {
         background-color: #0f6062;
         border-color: #0f6062 !important;
         svg path {
            stroke: white !important;
         }
      }
   }
   &:active {
      background-color: #0f6062;
      border-color: #0f6062 !important;
      svg path {
         stroke: white !important;
      }
   }
}
.contacts-page__block {
   .footer__icons {
      a {
         transition: 0.3s;
         @media (hover: hover) {
            &:hover {
               border-color: black;
            }
         }
         &:active {
            border-color: black;
         }
      }
   }
}
