.products-section {
   padding-bottom: 120px;
   @media (max-width: $tablet) {
      padding-bottom: 70px;
   }
   @media (max-width: $mobile) {
      padding-bottom: 60px;
   }
   // .products-section__wrapper
   .slider-btn {
      top: 40%;
   }
   &__wrapper {
      & > .home-about__link {
         display: none;
         @media (max-width: $mobile) {
            margin-top: 64px;
            display: flex;
            height: 48px;
            width: 100%;
            border-radius: 50px;
            border: 1px solid $grey-dark;
            justify-content: center;
            gap: 12px;
            color: $black;
            .circle {
               --size: 12px;
               border: unset !important;
               svg path {
                  stroke: $black;
               }
            }
         }
      }
   }

   // .products-section__header

   &__header {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .home-about__link {
         color: $black;
         @media (max-width: $mobile) {
            display: none;
         }
         .circle {
            border-color: $grey-dark;
            svg path {
               stroke: $black;
            }
         }
      }
   }

   // .products-section__filters

   &__filters {
      display: flex;
      gap: 24px;
      input {
         display: none;
      }
      label {
         transition: $transition;
         color: $grey-dark;
         &:has(input:checked) {
            color: $black;
         }
         @media (hover: hover) {
            &:hover {
               color: $black;
            }
         }
      }
   }

   // .products-section__main

   &__main {
      position: relative;
      .slider-btn {
         @media (max-width: $tablet) {
            display: none;
         }
      }
      .swiper-pagination {
         display: none;
         @media (max-width: $tablet) {
            display: block;
            width: 196px;
            top: unset;
            bottom: -32px;
            left: 50%;
            translate: -50% 0;
            height: 1px;
            background: #d9d9d9;
            .swiper-pagination-progressbar-fill {
               background: #adadad;
            }
         }
      }
      @media (max-width: $tablet) {
         .swiper {
            margin-left: calc(-1 * var(--container));
            margin-right: calc(-1 * var(--container));
            padding-left: calc(1 * var(--container));
            padding-right: calc(1 * var(--container));
            width: 100vw;
         }
      }
      .swiper-slide {
         @media (max-width: $mobile) {
            max-width: 176px;
         }
      }
   }
}
.product-card {
   display: flex;
   flex-direction: column;
   gap: 16px;
   width: 100%;
   @media (max-width: $tablet) {
      gap: 12px;
   }
   // .product-card__image

   &__image {
      background-color: #fffefbbf;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 6px;
      height: 440px;
      img {
         max-width: 90%;
         max-height: 70%;
         object-fit: contain;
      }
      // @media (hover: hover) {
      //    &:hover {
      //       .product-card__footer {
      //          background-color: white;
      //          padding-left: 40px;
      //          padding-right: 5px;
      //          padding-top: 5px;
      //          padding-bottom: 5px;
      //          border-radius: 100px;
      //          left: 28px;
      //          right: 28px;
      //       }
      //       .product-card__cart {
      //          opacity: 1;
      //       }
      //    }
      // }
      @media (max-width: $tablet) {
         height: 250px;
      }
   }

   // .product-card__header

   &__header {
      position: absolute;
      display: flex;
      justify-content: space-between;

      top: 20px;
      left: 20px;
      right: 20px;
      @media (max-width: $tablet) {
         top: 10px;
         left: 10px;
         right: 10px;
      }
   }

   // .product-card__banners

   &__banners {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      li {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0px 8px;
         height: 22px;
         border-radius: 5px;
         background-color: $blue-stone;
         color: $white;
         @include body-7;
      }
      @media (max-width: $tablet) {
         padding: 5px 6px;
         @include body-6-mobile;
      }
   }

   // .product-card__like

   &__like {
      svg path {
         transition: $transition;
         stroke: $grey-dark;
      }
      svg {
         @media (hover: hover) {
            &:hover {
               path {
                  stroke: $black;
               }
            }
         }
      }
   }

   // .product-card__colors
   &__footer {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      display: flex;
      align-items: flex-end;
      transition: 0.4s;
      gap: 32px;
      justify-content: space-between;
      transition: $transition;
      @media (max-width: $tablet) {
         right: 7px;
         left: 10px;
         bottom: 10px;
      }
   }
   &__cart {
      transition: $transition;
      --size: 54px;
      background-color: $romance;
      svg path {
         stroke: $black;
      }
      @media (max-width: $tablet) {
         --size: 40px;
      }
      @media (max-width: $mobile) {
         opacity: 1;
         background-color: $romance;
         --size: 40px;
         svg {
            width: 16px;
         }
         svg path {
            stroke: $black;
         }
      }
   }
   &__colors {
      display: flex;
      gap: 6px;
      input {
         display: none;
      }
      label {
         transition: $transition;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 24px;
         height: 24px;
         flex: 0 0 24px;
         padding: 3px;
         border: 1px solid transparent;
         .circle {
            --size: 18px;
            transition: $transition;
         }
      }
      label:has(input:checked) {
         border-color: $grey-dark;
         .circle {
            // --size: 14px;
         }
      }
      @media (max-width: $tablet) {
         bottom: 10px;
         left: 10px;
         right: 10px;
      }
   }

   // .product-card__main

   &__main {
      padding-left: 15px;
      color: $black;
      @media (max-width: $tablet) {
         padding-left: 10px;
      }
   }

   // .product-card__title

   &__title {
      @include body-3;
      @media (max-width: $tablet) {
         @include body-3-mobile;
      }
   }

   // .product-card__descripition

   &__descripition {
      margin-top: 4px;
      margin-bottom: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      // width: calc(100%); /* The trick is here! */
      display: inline-block; /* for inline elements e.g. span, strong, em etc */
      @include body-7;
      @media (max-width: $tablet) {
         @include body-6-mobile;
         margin: 4px 0;
      }
   }

   // .product-card__price

   &__price {
      white-space: nowrap;
      @include body-5;
      @media (max-width: $tablet) {
         @include body-5-mobile;
      }
   }
}
