.delivery-page {
   padding-bottom: 80px;
   padding-top: 40px;
   @media (max-width: $tablet) {
      padding-bottom: 70px;
      padding-top: 32px;
   }
   @media (max-width: $mobile) {
      padding-bottom: 60px;
   }
   // .delivery-page__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: $tablet) {
         gap: 32px;
      }
   }

   // .delivery-page__header

   &__header {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      text-align: center;
      @media (max-width: $tablet) {
         gap: 32px;
      }
   }

   // .delivery-page__title

   &__title {
   }

   // .delivery-page__tabs

   &__tabs {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: end;
      justify-content: center;
      gap: 60px;
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #d4d4d4;
      padding: 0 8px;
      @media (max-width: $tablet) {
         height: 40px;
      }
      @media (max-width: $mobile) {
         gap: unset;
         justify-content: space-between;
      }
      a {
         padding-bottom: 16px;
         display: block;
         @include h6;
         color: $grey-dark;
         transition: $transition;
         position: relative;
         @media (max-width: $tablet) {
            padding-bottom: 12px;
            @include h5-tablet;
         }
         @media (max-width: $mobile) {
            padding-bottom: 12px;
            @include h6-mobile;
         }
         &::after {
            content: "";
            position: absolute;
            width: calc(100% + 24px);
            height: 1px;
            left: -12px;
            top: 100%;
            background-color: $black;
            transition: $transition;
            opacity: 0;
         }
         @media (hover: hover) {
            &:hover {
               color: $black;
               &::after {
                  opacity: 1;
               }
            }
         }
         &.active {
            color: $black;
            &::after {
               opacity: 1;
            }
         }
      }
   }

   // .delivery-page__main

   &__main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 128px;
      @media (max-width: $tablet) {
         display: flex;
         flex-direction: column;
         gap: 40px;
      }
      @media (max-width: $mobile) {
         gap: 32px;
      }
   }

   // .delivery-page__left

   &__left {
      display: flex;
      flex-direction: column;
      gap: 28px;
      @media (max-width: $tablet) {
         gap: 20px;
      }
   }

   // .delivery-page__block

   &__block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // .delivery-page__block_small
      p {
         @include body-4;
         @media (max-width: $mobile) {
            @include body-4-mobile;
         }
      }
      a {
         @include body-2;
         color: $black;
      }
      &_small {
         display: flex;
         flex-direction: column;
         gap: 16px;
         @media (max-width: $tablet) {
            gap: 12px;
         }
         p {
            @include body-4;
            @media (max-width: $tablet) {
               @include body-3-tablet;
            }
         }
         a {
            @include body-2;
            color: $black;
            @media (max-width: $tablet) {
               @include body-2-tablet;
            }
         }
      }
      @media (max-width: $tablet) {
         gap: 16px;
      }
   }

   // .delivery-page__subtitle

   &__subtitle {
      display: flex;
      align-items: flex-end;
      gap: 12px;
      @include body-5;
      @media (max-width: $tablet) {
         @include body-5-mobile;
      }
      .h5 {
         @include h5;
         @media (max-width: $tablet) {
            @include h5-mobile;
         }
      }
      span {
         translate: 0 1px;
      }
   }

   // .delivery-page__right

   &__right {
      display: flex;
      flex-direction: column;
      gap: 76px;
      @media (max-width: $tablet) {
         gap: 40px;
      }
      @media (max-width: $mobile) {
         gap: 32px;
      }
   }
}
.refund-page {
   // .refund-page__main

   &__main {
      max-width: 775px;
   }

   // .refund-page__block

   &__block {
      & > div {
         display: flex;
         flex-direction: column;
         gap: 8px;
      }
   }

   // .refund-page__title

   &__title {
   }

   // .refund-page__items

   &__items {
      max-width: 716px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-top: 8px;
      @media (max-width: $tablet) {
         margin-top: 4px;
      }
      @media (max-width: $mobile) {
         gap: 16px;
         margin: 0;
         grid-template-columns: 1fr;
      }
   }
   // .refund-page__section

   &__section {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-top: 60px;
      @media (max-width: $tablet) {
         margin-top: 40px;
      }
      @media (max-width: $mobile) {
         margin-top: 32px;
      }
   }

   // .refund-page__accordeon

   &__accordeon {
   }

   // .refund-page__item

   &__item {
   }
}
.refund-item {
   padding: 16px;
   border-radius: 10px;
   background: rgba(255, 254, 251, 0.4);
   // .refund-item__title

   &__title {
      @include body-2;
      @media (max-width: $mobile) {
         font-size: 14px !important;
      }
   }

   // .refund-item__subtitle

   &__subtitle {
      margin-top: 4px;
      margin-bottom: 16px;
      @include body-7;
      font-size: 14px !important;
   }

   // .refund-item__link

   &__link {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px 0;
      @include body-6;
      color: $black;
      border-bottom: 1px solid var(--grey, #d4d4d4);
      width: fit-content;
      font-size: 14px !important;
   }
}
.refund-accordeon {
   // .refund-accordeon__header

   &__header {
      cursor: pointer;
      padding: 24px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid var(--grey, #d4d4d4);
      svg {
         transition: $transition;
      }
      .h5 {
         @media (max-width: $tablet) {
            @include h5-mobile;
         }
      }
      &.active {
         svg {
            rotate: 180deg;
         }
      }
   }

   // .refund-accordeon__spoiler

   &__spoiler {
   }

   // .refund-accordeon__main

   &__main {
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 28px;
      .body-2 {
         @include body-2;
         @media (max-width: $tablet) {
            @include body-2-tablet;
         }
      }
      .body-4 {
         @include body-4;
         @media (max-width: $tablet) {
            @include body-3-tablet;
         }
      }
      & > div {
         display: flex;
         flex-direction: column;
         gap: 16px;
         ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            li {
               list-style: disc;
               list-style-position: inside;
            }
         }
      }
   }
}
